<mat-card class="genre-dialog">
    <mat-card-title class="genre-dialog-title">{{ data.Genre.name }}</mat-card-title>
    <br />

    <mat-dialog-content class="genre-dialog-content">
      <u>Description: </u>
      <br/>
      {{ data.Genre.description }}
    </mat-dialog-content>
    <mat-card-actions class="genre-actions">
      <button
        class="genre-close-button"
        mat-stroked-button
        aria-label="Close the genre details button"
        mat-dialog-close
        color="primary"
      >
        X
      </button>
    </mat-card-actions>
  </mat-card>