@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

body {
    background: #C6CDF6;
}

.main-page {
    text-align: center;
    padding: 200px;
}

h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 70px;
}

h3 {
    font-family: 'Tenor Sans', sans-serif;
    margin-bottom: 50px;
}

