.spacer {
    flex: 1 1 auto;
}

.movies-container {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
}

mat-card {
    flex: 1 1 auto;
}

mat-card-header {
    height: 110px;
    vertical-align: bottom;
}

mat-card-title {
    text-align: center;
}