.spacer {
    flex: 1 1 auto;
}

.favorites-header {
    margin: 10px;
}

.favorite-movies-container {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 300px;
    margin: 30px;
}

.favorite-movies-card {
    flex: 1 1 auto;
    margin: 10px;
}

.movie-title {
    height: 80px;
    text-align: center;
}