.spacer {
    flex: 1 1 auto;
}

span {
    cursor: pointer;
}

.user-profile-card-header {
    margin-bottom: 20px;
    text-align: center;
}

mat-card-title {
    text-align: center;
}

.favorites-header {
    margin: 50px 20px;
}

.favorite-movies-container {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 30px;
}

.favorite-movies-card {
    flex: 1 1 auto;
    margin: 10px;
}

.movie-title {
    text-align: center;
    width: 140px;
    height: 50px;
}

.favorite {
    position: absolute;
    margin-left: 40px;
}